@{
    ViewBag.Title = "About - meeting on 8th";
    var today = "meeting for the 5th part";
}
<h1>@today</h1>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<input type="button" class="btn btn-danger" value="View Data"/>
<input  type="button" value="Create New" />
<p>Use this area to provide additional information.</p>
